/*-- scss:defaults --*/

// Global Box Sizing
* {
  box-sizing: border-box;
}

// Transition Styles
.transition, .section > div {
  transition: all 0.10s ease-in-out;
}

// Body Styling
#quarto-content {
  font-family: 'Roboto Slab', serif;
  padding: 0;
  color: #cecece;
  margin: 0;
  letter-spacing: 0.02em;
  background-color: #2a2a2a;
  background-image: url("imgs/background.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 100%;

  // Headings
  h1 {
    font-size: 80px;
    color: #27a3b4;
    font-weight: 400;
    margin: 50px 0 30px;
    line-height: 1.2em;
  }

  h2 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  h4 {
    font-weight: 400;
    margin: 10px 0;
  }

  // Link Styling
  a {
    color: #2CB6C9;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:hover svg {
      fill: #cecece;
    }
  }

  // Paragraphs
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 800px;
    margin: 0 0 5px;
  }


  // Social Media Icons
  .social-media-icons {
    a {
      color: #2CB6C9;
      font-size: 19px !important;
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px;

      &:hover {
        color: #cecece;
      }
    }
  }

  // Image Styling
  img {
    margin: auto;
    display: block;
    max-height: 100px;
  }
}
